<% if type == :new %>
<% action_url = users_url%>
<% button_text = "Create User!"%>
<% else %>
<% action_url = session_url %>
<% button_text = "Log In User!"%>
<%# <% else %>
<%# action_url = user_url(template_user)%>
<%# button_text = "Update User!"%>
<% end  %>

<ul>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <li>
        <%= error %>
      </li>
    <% end %>
  <% end %>
</ul>

<form action="<%=action_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

  <%# <% if type == :edit%>
  <!-- <input type="hidden" name="_method" value="patch"> -->
  <%# end %>

  <label for="user_name">
    Username:
    <input type="text" name="user[user_name]">
  </label>

  <label for="password">
    Password:
    <input type="password" name="user[password]">
  </label>

  <input type="submit" value="<%= button_text %>">
</form>
